<form class="form" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-8" style="padding-right:0">
            <input type="text" name="title" [(ngModel)]="title" placeholder="Add poll question...">
        </div>
        <div class="col-sm-3">
            <input type="submit" value="Add poll question" class="btn btn-primary">
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-sm-8" style="padding-right:0">
            <textarea name="description" rows=3 [(ngModel)]="description"
                placeholder="Add poll description..."></textarea>
        </div>

    </div> -->
</form>