<div class="row pollInfoDiv">
  <div class="col-sm-9">
    <div class="itemInline">
      <button 
        title="Delete poll" 
        class="btn btn-sm btn-danger btn-circle" 
        (click)="onDelete(poll)"><i class="fa fa-times"></i></button>
      <button 
        title="Send poll invitation" 
        class="btn btn-primary" 
        (click)="onOpenInvitationDialog(poll)"><i class="fa fa-calendar-check-o"></i></button>

    </div>

    <div (click)="onPollClick(poll)">
      <div>
        <p class="pollInfoHeader" style="padding-left: 65px;">{{poll.name}}
        </p>
      </div>

      <div style="padding-left: 85px;">
        <p class="pollInfo">author: {{poll.authorname}}</p>
        <p class="pollInfo">description: {{poll.description}}</p>
      </div>
    </div>
  </div>
</div> 
 