<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="alert alert-danger" *ngIf="loginError">
                <strong>Error!</strong> {{msgBoxMessage}}
              </div>

            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="loginemail">User email</label>
                    <input type="text" formControlName="loginemail" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.loginemail.errors }" />
                    <div *ngIf="submitted && f.loginemail.errors" class="invalid-feedback">
                        <div *ngIf="f.loginemail.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="loginpassword">Password</label>
                    <input type="password" formControlName="loginpassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.loginpassword.errors }" />
                    <div *ngIf="submitted && f.loginpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.loginpassword.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>