<div class="alert alert-success" style="word-wrap: break-word;" *ngIf="msgBoxType===1">
  <strong>Success!</strong> {{msgBoxMessage}}
</div>

<div class="alert alert-info" style="word-wrap: break-word;" *ngIf="msgBoxType===2">
  <strong>Info!</strong> {{msgBoxMessage}}
</div>

<div class="alert alert-warning" style="word-wrap: break-word;" *ngIf="msgBoxType===3">
  <strong>Warning!</strong> {{msgBoxMessage}}
</div>

<div class="alert alert-danger" style="word-wrap: break-word;" *ngIf="msgBoxType===4">
  <strong>Error!</strong> {{msgBoxMessage}}
</div>

<div class="row" style="margin-top: 50px">
  <div class="col-sm-12">
    <hr>
    <h2>Polls</h2>
  </div>
</div>

<app-add-poll (addPoll)="addPoll($event)"></app-add-poll>
<app-poll-item 
  *ngFor="let poll of polls" 
  [poll]="poll" 
  (deletePoll)="deletePoll($event)"
  (openModal)="openModal(mymodal, $event)"
  (navigateQuestions)="navigateQuestions($event)">
</app-poll-item>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Send poll request</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
      <span *ngIf="!usersLoaded" class="spinner-border spinner-border-sm mr-1"></span>
      <span *ngIf="!usersLoaded" >Loading users...</span>

      <div *ngIf="usersLoaded">
        <p>Please select poll request recepients:</p>

        <div *ngFor="let user of users; let i = index">
          <label>
            <input type="checkbox" [checked]="user.checked" [value]="user.email" (change)="onCheckboxChange(i, $event)" />
            {{user.lastname}}, {{user.firstname}}
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!isUserSelected" (click)="modal.close('Send click')">Send</button>
    </div>
</ng-template>